#container{
    width: 260px;
    height: 460px;
    background:burlywood;
    position:absolute;
    top:10%;
    left:35%;
    overflow: hidden;
}
*{
    margin:0;
    padding:0;
}
#month li {
    width: 70px;
    height: 70px;
    background:#40423F ;
    float: left;
    margin: 5px;
    list-style-type: none;
    top: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 10px;
    border:1px solid white;
}
#text{
    width: 240px;
    height: 100px;
    background: white;
    position: absolute;
    bottom: 20px;
    left: 10px;
    color:black;
    text-align: left;
    line-height: 20px;
    display:block;
}
